
.portlet {
  &.light,
  & {
    > .portlet-footer > .actions {
      padding: 6px 0;
    }
  }
  .portlet-footer {
    border-bottom: 0 none !important;
    min-height: 0 !important;
    margin-bottom: 0;
    margin-top: 20px;
  }
}