<table class="table table-striped table-bordered table-hover">
    <colgroup>
        <col width="1%">
        <col width="40%">
        <col width="30%">
        <col width="10%">
        <col width="20%">
    </colgroup>
    <thead>
        <tr>
            <th>#</th>
            <th>Page title (global)</th>
            <th>Page slug (global)</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.pages">
            <td>
                <label class="custom-checkbox">
                    <div class="checker">
                        <input type="checkbox" value="{{ item.id }}">
                        <span></span>
                    </div>
                </label>
            </td>
            <td>
                <a ui-sref="pageDetails({id: item.id, lang: 59})"
                   title="Edit"
                   ng-bind="item.global_title">
                </a>
            </td>
            <td>
                <span ng-bind="item.global_slug"></span>
            </td>
            <td ng-bind-html="vm.getStatus(item.status)"></td>
            <td>
                <button type="button"
                        class="btn btn-success btn-xs"
                        title="Active this page"
                        mwl-confirm
                        message="Are you sure you wanna active this page?"
                        confirm-text="Yes <i class='fa fa-check'></i>"
                        cancel-text="No <i class='fa fa-times'></i>"
                        placement="top"
                        confirm-button-type="danger"
                        cancel-button-type="success"
                        on-confirm="vm.updateStatus(item.id, 1)"
                        ng-if="item.status == 0">
                    <i class="fa fa-check"></i>
                </button>
                <button type="button"
                        class="btn btn-warning btn-xs"
                        title="Disable this page"
                        mwl-confirm
                        message="Are you sure you wanna disable this page?"
                        confirm-text="Yes <i class='fa fa-check'></i>"
                        cancel-text="No <i class='fa fa-times'></i>"
                        placement="top"
                        confirm-button-type="danger"
                        cancel-button-type="success"
                        on-confirm="vm.updateStatus(item.id, 0)"
                        ng-if="item.status == 1">
                    <i class="fa fa-times"></i>
                </button>
                <button type="button"
                        class="btn btn-danger btn-xs"
                        title="Remove this page"
                        mwl-confirm
                        message="Are you sure you wanna delete this page?"
                        confirm-text="Yes <i class='fa fa-check'></i>"
                        cancel-text="No <i class='fa fa-times'></i>"
                        placement="top"
                        confirm-button-type="danger"
                        cancel-button-type="success"
                        on-confirm="vm.deletePage(item.id)">
                    <i class="fa fa-trash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>