<table class="table table-striped table-bordered table-hover">
    <colgroup>
        <col width="1%">
        <col width="40%">
        <col width="30%">
        <col width="10%">
        <col width="20%">
    </colgroup>
    <thead>
        <tr>
            <th>#</th>
            <th>Page title (global)</th>
            <th>Page slug (global)</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in vm.pages">
            <td><label><input type="checkbox" value="{{ item.id }}"></label></td>
            <td>
                <a ui-sref="pageDetails({id: item.id, lang: 59})"
                   title="Edit"
                   ng-bind="item.global_title">
                </a>
            </td>
            <td>
                <span ng-bind="item.global_slug"></span>
            </td>
            <td ng-bind-html="vm.getStatus(item.status)"></td>
            <td>
                <button type="button" class="btn btn-danger btn-xs" title="Remove this page"><i class="fa fa-times"></i>
                </button>
                <button type="button" class="btn btn-success btn-xs" title="Active this page"><i class="fa fa-check"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>