body {
  &.on-loading {
    background-color: #364150;
    > * {
      display: none;
    }
    .page-spinner-bar {
      display: block;
    }
    .jquery-notific8-container,
    .notific8-container {
      display: block;
    }
  }
  .page-spinner-bar {
    display: none;
  }
}